@import url(./reset.css);
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard-dynamic-subset.css");

:root {
    --white: #fff;
	--primary: #98D0D3;
	--black: #555454;
	--red: #C63102;
}

html {
    font-family: 'Pretendard', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, HelveticaNeue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
}

body {
	min-width: 320px;
	letter-spacing: -0.025em;
	color: #848383;
	line-height: 1.6;
}

Select {
	font-family: inherit;  /* 폰트 상속 */
	background: url(../img/btn-drop-arrow.svg) no-repeat 98% 50%;
	 /* 네이티브 화살표를 커스텀 화살표로 대체 */
        -webkit-appearance: none; 
	/* 네이티브 외형 감추기 */
        -moz-appearance: none;
        appearance: none;
}
Select::-ms-expand {
        display: none;/* 화살표 없애기 for IE10, 11*/
}

a {
	text-decoration: none;
}

input {
	outline: none;
}

button {
	border: 0;
	font-family: inherit;
}

.lineClamp3 {
	overflow:hidden;
	text-overflow:ellipsis;
	-webkit-line-clamp: 3;	
	-webkit-box-orient: vertical;
	display: -webkit-box;
}

// Portrait 최대 width
$maxWidth: 430px;
$sidePadding : 15px;
.inner {
	max-width: $maxWidth;
	padding: 0 $sidePadding;
	margin: 0 auto;
}

.red {
	color: var(--red);
}

p {
	font-size: 14px;
	font-weight: 400;
}

b {
	color: #6F6E6E;
	font-weight: 600;
}

strong {
	font-weight: 700;
}


// 타블렛브레이크 포인트
@media screen and (max-width:768px) {

}
// 모바일브레이크 포인트
@media screen and (max-width:1280px) {
	
}

@mixin foamStyle {
	color: var(--black);
	font-size: 16px;
	font-weight: 400;
	box-sizing: border-box;
	padding: 12px;
	height: 40px;
	border-radius: 5px;
	border: 0.2px solid #000;
	background: #F5F5F5;
	box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.25) inset;
	&::placeholder {
		// color: #848383;
		color: #B8B8B8;
	}
	@content;
}

.input {
	@include foamStyle;
}

.select {
	@include foamStyle;
	padding-top: 0;
	padding-bottom: 0;
	padding-right: 22px;
	background: #F5F5F5 url(../img/ic_sel_arr.svg) right 8px center no-repeat;
}
.terms {
	@include foamStyle;
	display: block;
	width: 100%;
	min-height: 124px;
	padding: 10px;
	font-size: 12px;
}
.textarea {
	@include foamStyle;
	display: block;
	width: 100%;
	padding: 10px;
	resize: none;
	font-size: 12px;
}

.inputDiv {
	@include foamStyle;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #B8B8B8;
	font-size: 14px;
	input {
		border: 0;
		background-color: transparent;
		font-family: inherit;  /* 폰트 상속 */
		-webkit-appearance: none; 
		-moz-appearance: none;
		appearance: none;
		position: relative;
		flex: 1 0 auto !important;
	}
	input::-webkit-calendar-picker-indicator {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: transparent; 
		color: transparent;
		cursor: pointer;
	}

	.flex {
		display: flex;
		align-items: center;
		gap: 8px;
	}
}

.checkboxBx {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	font-size: 14px;
	font-weight: 700;
	gap: 13px;
	input[type='checkbox'] {
		display: none;
	}
	.checkboxIcon {
		display: block;
		width: 19px;
		height: 19px;
		border: 2px solid #6F6E6E;
		box-sizing: border-box;
	}
	input:checked + .checkboxIcon {
		background-color: var(--primary);
	}
}

.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 47px;
	border-radius: 5px;
	background: var(--primary);
	color: #555454;
	font-size: 20px;
	font-weight: 700;
}

.section-login {
	padding-bottom: 140px;
	position: relative;
	height: 100vh;
	box-sizing: border-box;

	.lock {
		display: flex;
		justify-content: flex-end;
		padding: 11px 0;
		.ic-lock {
			width: 24px;
			height: 24px;
			background: url(../img/ic_lock.svg) center no-repeat;
		}
	}

	.hero {
		max-width: 290px;
		margin: 0 auto;
		margin-top: 26px;
		margin-bottom: 70px;
		display: flex;
		flex-direction: column;
		align-items: center;
		color: var(--black);
		font-weight: 700;
		.sub {
			font-size: 14px;
		}
		.logo {
			margin-top: 18px;
			margin-bottom: 10px;
		}
		.bottom {
			width: 100%;
			text-align: right;
			.red {
				font-size: 20px;
				color: var(--red);
			}
			.small {
				font-size: 12px;
				margin-top: 1px;
			}
		}
	}

	.foam {

	}
	.inputWrap {
		display: flex;
		flex-direction: column;
		gap: 13px;
		margin-bottom: 28px;
	}

	.desc {
		color: #848383;
		font-size: 12px;
		font-weight: 400;
		text-align: center;
		margin-bottom: 27px;
	}

	.newGroup {
		display: flex;
		justify-content: flex-end;
		margin-top: 32px;
		.rel {
			position: relative;
			width: auto;
			height: auto;
		}
		.text {
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translate(-50%, 100%);
			white-space: nowrap;
			padding-top: 8px;
			color: #555454;
			font-size: 14px;
			font-weight: 500;
		}
		.ic-plus {
			width: 60px;
			height: 60px;
			background: url(../img/btn_newGroup.svg) center no-repeat;
		}
	}

	.notice {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		padding: 12px 20px 38px;
		background-color: rgba(255,255,255,0.9);
		max-width: $maxWidth;
		margin: 0 auto;
		.tit {
			color: var(--black);
			font-size: 12px;
			font-weight: 700;
			margin-bottom: 6px;
		}
		li {
			a {
				display: flex;
				justify-content: space-between;
				width: 100%;
				padding: 6px 0;
				color: #555454;
				font-size: 12px;
				font-weight: 500;
			}
		}
		.text{
			flex: 1 0 0;
			padding-right: 10px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		.user {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}
}


.section-main {
	padding-bottom: 82px;
}
.bottomNav {
	position: fixed;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	max-width: $maxWidth;
	width: 100%;
	margin: 0 auto;
	padding: $sidePadding;
	background-color: #fff;
}
.topNav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	padding: 0 12px;
	background-color: #98D0D3;
	height: 55px;
	width: calc(100% + $sidePadding + $sidePadding);
	box-sizing: border-box;
	margin-left: - $sidePadding;
	margin-right: - $sidePadding;
	.tit {
		color: var(--red);
		font-size: 24px;
		font-style: normal;
		font-weight: 800;
		line-height: normal;
	}
	.left {
		min-width: 32px;
		min-height: 32px;
		.back {
			display: block;
			width: 32px;
			height: 32px;
			background: url(../img/ic_back.svg) center no-repeat;
		}
	}
	.right {
		min-width: 32px;
		min-height: 32px;
		.home {
			display: block;
			width: 32px;
			height: 32px;
			background: url(../img/Home.svg) center no-repeat;
		}
	}
}	


.form {
	width: 100%;
	padding: 0 5px;
	text-align: center;
	.inputRow {
		display: flex;
		align-items: center;
		gap: 8px;
		input, 
		select {
			flex: 1 0 0;
			width: 100%;
		}
		.w25 {
			flex: 0 0 25%;
		}
	}
	.inputRow + .inputRow {
		margin-top: 15px;
	}

	.inputLabel {
		display: flex;
		color: #6F6E6E;
		font-size: 16px;
		font-weight: 700;
		margin-bottom: 8px;
	}
}

.requestSummary {
	// margin-top: 40px;
	.tr {
		display: flex;
		gap: 6px;
		font-weight: 500;
		.date {
			width: 82px;
		}
		.time {
			width: 82px;
		}
		.during {
			width: 82px;
		}
	}
}