@charset "UTF-8";
@import url(./reset.css);
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard-dynamic-subset.css");
:root {
  --white: #fff;
  --primary: #98D0D3;
  --black: #555454;
  --red: #C63102;
}

html {
  font-family: "Pretendard", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, HelveticaNeue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
}

body {
  min-width: 320px;
  letter-spacing: -0.025em;
  color: #848383;
  line-height: 1.6;
}

Select {
  font-family: inherit; /* 폰트 상속 */
  background: url(../img/btn-drop-arrow.svg) no-repeat 98% 50%;
  /* 네이티브 화살표를 커스텀 화살표로 대체 */
  -webkit-appearance: none;
  /* 네이티브 외형 감추기 */
  -moz-appearance: none;
  appearance: none;
}

Select::-ms-expand {
  display: none; /* 화살표 없애기 for IE10, 11*/
}

a {
  text-decoration: none;
}

input {
  outline: none;
}

button {
  border: 0;
  font-family: inherit;
}

.lineClamp3 {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}

.inner {
  max-width: 430px;
  padding: 0 15px;
  margin: 0 auto;
}

.red {
  color: var(--red);
}

p {
  font-size: 14px;
  font-weight: 400;
}

b {
  color: #6F6E6E;
  font-weight: 600;
}

strong {
  font-weight: 700;
}

.input {
  color: var(--black);
  font-size: 16px;
  font-weight: 400;
  box-sizing: border-box;
  padding: 12px;
  height: 40px;
  border-radius: 5px;
  border: 0.2px solid #000;
  background: #F5F5F5;
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.25) inset;
}
.input::-moz-placeholder {
  color: #B8B8B8;
}
.input::placeholder {
  color: #B8B8B8;
}

.select {
  color: var(--black);
  font-size: 16px;
  font-weight: 400;
  box-sizing: border-box;
  padding: 12px;
  height: 40px;
  border-radius: 5px;
  border: 0.2px solid #000;
  background: #F5F5F5;
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.25) inset;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 22px;
  background: #F5F5F5 url(../img/ic_sel_arr.svg) right 8px center no-repeat;
}
.select::-moz-placeholder {
  color: #B8B8B8;
}
.select::placeholder {
  color: #B8B8B8;
}

.terms {
  color: var(--black);
  font-size: 16px;
  font-weight: 400;
  box-sizing: border-box;
  padding: 12px;
  height: 40px;
  border-radius: 5px;
  border: 0.2px solid #000;
  background: #F5F5F5;
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.25) inset;
  display: block;
  width: 100%;
  min-height: 124px;
  padding: 10px;
  font-size: 12px;
}
.terms::-moz-placeholder {
  color: #B8B8B8;
}
.terms::placeholder {
  color: #B8B8B8;
}

.textarea {
  color: var(--black);
  font-size: 16px;
  font-weight: 400;
  box-sizing: border-box;
  padding: 12px;
  height: 40px;
  border-radius: 5px;
  border: 0.2px solid #000;
  background: #F5F5F5;
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.25) inset;
  display: block;
  width: 100%;
  padding: 10px;
  resize: none;
  font-size: 12px;
}
.textarea::-moz-placeholder {
  color: #B8B8B8;
}
.textarea::placeholder {
  color: #B8B8B8;
}

.inputDiv {
  color: var(--black);
  font-size: 16px;
  font-weight: 400;
  box-sizing: border-box;
  padding: 12px;
  height: 40px;
  border-radius: 5px;
  border: 0.2px solid #000;
  background: #F5F5F5;
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.25) inset;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #B8B8B8;
  font-size: 14px;
}
.inputDiv::-moz-placeholder {
  color: #B8B8B8;
}
.inputDiv::placeholder {
  color: #B8B8B8;
}
.inputDiv input {
  border: 0;
  background-color: transparent;
  font-family: inherit; /* 폰트 상속 */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  flex: 1 0 auto !important;
}
.inputDiv input::-webkit-calendar-picker-indicator {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  color: transparent;
  cursor: pointer;
}
.inputDiv .flex {
  display: flex;
  align-items: center;
  gap: 8px;
}

.checkboxBx {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
  gap: 13px;
}
.checkboxBx input[type=checkbox] {
  display: none;
}
.checkboxBx .checkboxIcon {
  display: block;
  width: 19px;
  height: 19px;
  border: 2px solid #6F6E6E;
  box-sizing: border-box;
}
.checkboxBx input:checked + .checkboxIcon {
  background-color: var(--primary);
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 47px;
  border-radius: 5px;
  background: var(--primary);
  color: #555454;
  font-size: 20px;
  font-weight: 700;
}

.section-login {
  padding-bottom: 140px;
  position: relative;
  height: 100vh;
  box-sizing: border-box;
}
.section-login .lock {
  display: flex;
  justify-content: flex-end;
  padding: 11px 0;
}
.section-login .lock .ic-lock {
  width: 24px;
  height: 24px;
  background: url(../img/ic_lock.svg) center no-repeat;
}
.section-login .hero {
  max-width: 290px;
  margin: 0 auto;
  margin-top: 26px;
  margin-bottom: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--black);
  font-weight: 700;
}
.section-login .hero .sub {
  font-size: 14px;
}
.section-login .hero .logo {
  margin-top: 18px;
  margin-bottom: 10px;
}
.section-login .hero .bottom {
  width: 100%;
  text-align: right;
}
.section-login .hero .bottom .red {
  font-size: 20px;
  color: var(--red);
}
.section-login .hero .bottom .small {
  font-size: 12px;
  margin-top: 1px;
}
.section-login .inputWrap {
  display: flex;
  flex-direction: column;
  gap: 13px;
  margin-bottom: 28px;
}
.section-login .desc {
  color: #848383;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 27px;
}
.section-login .newGroup {
  display: flex;
  justify-content: flex-end;
  margin-top: 32px;
}
.section-login .newGroup .rel {
  position: relative;
  width: auto;
  height: auto;
}
.section-login .newGroup .text {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 100%);
  white-space: nowrap;
  padding-top: 8px;
  color: #555454;
  font-size: 14px;
  font-weight: 500;
}
.section-login .newGroup .ic-plus {
  width: 60px;
  height: 60px;
  background: url(../img/btn_newGroup.svg) center no-repeat;
}
.section-login .notice {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 12px 20px 38px;
  background-color: rgba(255, 255, 255, 0.9);
  max-width: 430px;
  margin: 0 auto;
}
.section-login .notice .tit {
  color: var(--black);
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 6px;
}
.section-login .notice li a {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 6px 0;
  color: #555454;
  font-size: 12px;
  font-weight: 500;
}
.section-login .notice .text {
  flex: 1 0 0;
  padding-right: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.section-login .notice .user {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.section-main {
  padding-bottom: 82px;
}

.bottomNav {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  max-width: 430px;
  width: 100%;
  margin: 0 auto;
  padding: 15px;
  background-color: #fff;
}

.topNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 0 12px;
  background-color: #98D0D3;
  height: 55px;
  width: calc(100% + 15px + 15px);
  box-sizing: border-box;
  margin-left: -15px;
  margin-right: -15px;
}
.topNav .tit {
  color: var(--red);
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.topNav .left {
  min-width: 32px;
  min-height: 32px;
}
.topNav .left .back {
  display: block;
  width: 32px;
  height: 32px;
  background: url(../img/ic_back.svg) center no-repeat;
}
.topNav .right {
  min-width: 32px;
  min-height: 32px;
}
.topNav .right .home {
  display: block;
  width: 32px;
  height: 32px;
  background: url(../img/Home.svg) center no-repeat;
}

.form {
  width: 100%;
  padding: 0 5px;
  text-align: center;
}
.form .inputRow {
  display: flex;
  align-items: center;
  gap: 8px;
}
.form .inputRow input,
.form .inputRow select {
  flex: 1 0 0;
  width: 100%;
}
.form .inputRow .w25 {
  flex: 0 0 25%;
}
.form .inputRow + .inputRow {
  margin-top: 15px;
}
.form .inputLabel {
  display: flex;
  color: #6F6E6E;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 8px;
}

.requestSummary .tr {
  display: flex;
  gap: 6px;
  font-weight: 500;
}
.requestSummary .tr .date {
  width: 82px;
}
.requestSummary .tr .time {
  width: 82px;
}
.requestSummary .tr .during {
  width: 82px;
}/*# sourceMappingURL=style.css.map */